{
  "openapi": "3.0.1",
  "info": {
    "title": "Non Health Insurance Products Simulations",
    "version": "v1.0",
    "contact": {
      "name": "API Support",
      "email": "info-api@segurcaixa.adeslas.es"
    }
  },
  "servers": [
    {
      "url": "https://apis.segurcaixa.adeslas.es/nonhealthproducts/sandbox/v1",
      "description": "sandbox"
    }
  ],
  "security": [
    {}
  ],
  "tags": [
    {
      "name": "Simulations Information Service (NHIIS)",
      "description": "The Non Health Simulations Information Service offers the following services\n  * Simulations Services - Servicios para crear, modificar, versionar y borrar simulaciones\n  * Holder Services - Servicios para crear, modificar y borrar los tomadores de la poliza\n  * Product Services - Servicios del producto\n  * Assets Services - Bienes y riesgos. Insurance asset.\n  * Quotation services - Gestión de los precios\n  * Document Services - Documentación y operativa con documentos\n  * Notification Services - Servicos para notificar y enviar la simulación por diferentes medios\n  * Bulk Simulations Services - Servicios para crear y consultar lotes de simulaciones"
    }
  ],
  "paths": {
    "/simulations": {
      "post": {
        "summary": "Create simulation",
        "description": "This method create a simulation for a insurance product\n",
        "operationId": "createSimulation",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/simulations"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CREATED_201_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Simulations List",
        "description": "Return sSimulations list",
        "operationId": "getSimulationsList",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_SimulationsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}": {
      "delete": {
        "summary": "Delete Simulation",
        "description": "The User can delete an simulation.",
        "operationId": "deleteSimulation",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NO_CONTENT_204_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Simulation Details",
        "description": "Reads details about an simulation\n",
        "operationId": "readSimulationDetails",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_SimulationDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/originalPolicy": {
      "get": {
        "summary": "Read Poliza inicial (cuando se hace una simulación a partir de una poliza existente o suplemento)",
        "description": "Return Original Policy",
        "operationId": "getOriginalPolicy",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_PolicyDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/businessIndicators": {
      "get": {
        "summary": "Read Business Indicators List - Listado de señales",
        "description": "Return Business Indicators list - Señales",
        "operationId": "getBusinessIndicatorsList",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_BusinessIndicatorsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/clauses": {
      "post": {
        "summary": "Request a new clause for simulation",
        "description": "This method create a new clause for the simulation\n",
        "operationId": "createClause",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/clauses"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CREATED_201_CLAUSE_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Clauses List",
        "description": "Return Clauses list - Señales",
        "operationId": "getClausesList",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_ClausesList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}_save": {
      "post": {
        "summary": "Save changes and modify the status of the simulation",
        "description": "This method save simulation for a insurance product and change status\n",
        "operationId": "saveSimulation",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/SAVED_201_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/versions": {
      "post": {
        "summary": "Request a new version for simulation",
        "description": "This method create a new version for the simulation\n",
        "operationId": "createSimulationVersion",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/CREATED_201_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Versions Simulation List",
        "description": "Return Versions Simulation list",
        "operationId": "getVersSimulationList",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_VersionsSimulationList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/forms": {
      "put": {
        "summary": "Update forms info",
        "description": "This method update forms info\n",
        "operationId": "updateForms",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/forms"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_201_UpdateForms"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Forms List",
        "description": "Return Forms List",
        "operationId": "getformsList",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_formsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/policyRelationships": {
      "put": {
        "summary": "Update Policy Relationships info",
        "description": "This method update policy relationships info\n",
        "operationId": "updatePolicyRelationships",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/policyRelationships"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_201_UpdatePolicyRelationships"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Policy Relationships List",
        "description": "Return Policy Relationships List",
        "operationId": "getPolicyRelationshipsList",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_PolicyRelationshipsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/auditLogs": {
      "get": {
        "summary": "Read Audit Logs List",
        "description": "Return Audit Logs List",
        "operationId": "getAuditLogsList",
        "tags": [
          "Simulations Services (IS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AuditLogsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/holders": {
      "post": {
        "summary": "Create a new holder in policy",
        "description": "This method create a new holder/tomador\n",
        "operationId": "createPolicyHolder",
        "tags": [
          "Simulations Holders Services (IHS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/holder"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CREATED_201_HOLDER_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Holders Policy List",
        "description": "Return Holders Policy list",
        "operationId": "getHoldersPolicyList",
        "tags": [
          "Simulations Holders Services (IHS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_HoldersList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/holders/{holder-id}": {
      "delete": {
        "summary": "Delete Holder",
        "description": "The User can delete an holder.",
        "operationId": "deleteHolder",
        "tags": [
          "Simulations Holders Services (IHS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/holderId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NO_CONTENT_204_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "put": {
        "summary": "Update holder in policy",
        "description": "This method update an holder\n",
        "operationId": "updateHolderPolicy",
        "tags": [
          "Simulations Holders Services (IHS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/holderId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/holder"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_200_UpdateHolder"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Holder Details",
        "description": "Return Holder Details",
        "operationId": "getHolderDetails",
        "tags": [
          "Simulations Holders Services (IHS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/holderId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_HolderDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/product": {
      "put": {
        "summary": "Update product info",
        "description": "This method update product info\n",
        "operationId": "updateProductPolicy",
        "tags": [
          "Simulations Product Services (IPS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/productInfo"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_200_UpdateProduct"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Product Simulation Details",
        "description": "Return Product Details",
        "operationId": "getProductSimulationDetails",
        "tags": [
          "Simulations Product Services (IPS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_ProductDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/product/attributesDomains": {
      "post": {
        "summary": "Read Product Attributes Domain values",
        "description": "Return Product Attributes Domains",
        "operationId": "getProductAttributesDomains",
        "tags": [
          "Simulations Product Services (IPS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/attributesListRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CREATED_201_Attributes_Domains_List"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets": {
      "post": {
        "summary": "Create a new asset in policy",
        "description": "This method create a new assset (property, business, car, insured person, ...)\n",
        "operationId": "createAssetPolicy",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/asset"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CREATED_201_ASSET_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Assets Policy List",
        "description": "Return Assets Policy list",
        "operationId": "getAssetsPolicyList",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AssetsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}": {
      "get": {
        "summary": "Read Assets Details",
        "description": "Return Assets Details",
        "operationId": "getAssetDetails",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AssetDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/riskFactors": {
      "put": {
        "summary": "Update risk factors info",
        "description": "This method update risk factors info\n",
        "operationId": "updateAssetRiskFactors",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/riskFactors"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_200_UpdateRiskFactors"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Risk Factors Asset Details",
        "description": "Return Risk Factors Details",
        "operationId": "getRiskFactorsAssetDetails",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_RiskFactorsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/riskAttributes": {
      "put": {
        "summary": "Update risk attributes info",
        "description": "This method update risk attributes info\n",
        "operationId": "updateAssetRiskAttributes",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/riskAttributes"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_201_UpdateRiskAttributes"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Risk Attributes Asset Details",
        "description": "Return Risk Attributes Details",
        "operationId": "getRiskAttributesAssetDetails",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_RiskAttributesList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/discounts": {
      "put": {
        "summary": "Update discount info",
        "description": "This method update discount info\n",
        "operationId": "updateAssetDiscountPolicy",
        "tags": [
          "Simulations Prices Services (IPS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/discounts"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_200_UpdateDiscounts"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Discounts Asset Details",
        "description": "Return Discounts Details",
        "operationId": "getDiscountsAssetDetails",
        "tags": [
          "Simulations Prices Services (IPS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_DiscountsDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/adjustments": {
      "put": {
        "summary": "Update adjustments info",
        "description": "This method update adjustments info\n",
        "operationId": "updateAssetAdjustments",
        "tags": [
          "Simulations Prices Services (IPS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/adjustment"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_200_Updateadjustment"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Adjustments Asset Details",
        "description": "Return Adjustments Details",
        "operationId": "getAssetAdjustmentsDetails",
        "tags": [
          "Simulations Prices Services (IPS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AdjustmentsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/amounts": {
      "post": {
        "summary": "Add a new amount in policy",
        "description": "This method add a amount to the asset\n",
        "operationId": "createAssetAmountPolicy",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/amountList"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CREATED_201_AMOUNT_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Policy Assets Amounts List",
        "description": "Return Assets Amounts list",
        "operationId": "getAssetsAmountsPolicyList",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AmountsList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/amounts/{amount-id}": {
      "put": {
        "summary": "Update asset amount in policy",
        "description": "This method update an assset amount (limits, default values, ...)\n",
        "operationId": "updateAssetAmountPolicy",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/amountId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/amount"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OK_200_UpdateAmount"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "delete": {
        "summary": "Delete Asset Coverage",
        "description": "The User can delete an asset coverage.",
        "operationId": "deleteAssetAmount",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/amountId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NO_CONTENT_204_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Asset Amount Details",
        "description": "Return Asset Amount Details",
        "operationId": "getAssetAmountDetails",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/amountId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_AmountDetails"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/coverages": {
      "post": {
        "summary": "Add a new coverage in policy",
        "description": "This method add a coverage to the asset\n",
        "operationId": "createAssetCoveragePolicy",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/coveragesList"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CREATED_201_COVERAGE_IS"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      },
      "get": {
        "summary": "Read Policy Assets Coverages List",
        "description": "Return Assets Coverage list",
        "operationId": "getAssetsCoveragesPolicyList",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_CoveragesList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400_IS"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401_IS"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403_IS"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404_IS"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_IS"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406_IS"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408_IS"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_IS"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_IS"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_IS"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_IS"
          }
        }
      }
    },
    "/simulations/{simulation-id}/assets/{asset-id}/coverages/{coverage-id}": {
      "put": {
        "summary": "Update asset coverage in policy",
        "description": "This method update an assset coverage (amounts, limits, ...)\n",
        "operationId": "updateAssetCoveragePolicy",
        "tags": [
          "Simulations Assets Services (IAS)"
        ],
        "security": [
          {
            "BearerAuthOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/simulationId_PATH"
          },
          {
            "$ref": "#/components/parameters/assetId_PATH"
          },
          {
            "$ref": "#/components/parameters/coverageId_PATH"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/X-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Sub-Channel-ID"
          },
          {
            "$ref": "#/components/parameters/X-Language-ID"
          },
          {
            "$ref": "#/components/parameters/X-Profile-ID"
          },
          {
            "$ref": "#/components/parameters/X-Level-ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/coverage"
        },
[...]
